.errorTitle {
  padding-top: 2rem;
}

.errorMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.errorCode, .notFoundText {
  font-size: 300px;
  color: var(--red);
  font-weight: bold;
}

.notFoundText {
  font-size: 1.5rem;
}
