:root {
  font-family: 'Fira Code', monospace;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #466156;
  --secondary: #6A8973;
  --terciary: #A3B993;
  --soft-white: #F1F1F1;
  --white: #FEFEFE;
  --black: #111;
  --gray: #222222;
  --red: #CF1415;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}